@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  padding: 0;
  max-width: 1450px;
  height: auto;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 300px) {
  .container {
    max-width: 300px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .container {
    max-width: 1100px;
  }
}
@media (min-width: 1101px) and (max-width: 1299px) {
  .container {
    max-width: 1300px;
  }
}
@media (min-width: 1300px) and (max-width: 1350px) {
  .container {
    max-width: 1350px;
  }
}
@media (min-width: 1350px) and (max-width: 1450px) {
  .container {
    max-width: 1450px;
  }
}
@media screen and (min-width: 1450px) {
  .container {
    max-width: 1450px;
  }
}

.header {
  width: 100%;
  height: auto;
  margin-top: 42px;
}
@media screen and (max-width: 500px) {
  .header {
    margin-top: 25px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .header {
    margin-top: 30px;
  }
}
.header__logo {
  height: 93px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
  .header__logo {
    height: 70px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .header__logo {
    height: 85px;
  }
}

.SearchBadgeDropdown {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.resultBox {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: none;
}
.resultBox__validRecipesCount {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.resultBox__validRecipesCount--message {
  padding-left: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 500px) {
  .resultBox__validRecipesCount--message {
    font-size: 13px;
  }
}
.resultBox__validRecipesCount--closeCross {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 2px;
  padding-top: 2px;
  width: 20px;
  height: 20px;
  border-radius: 2.5px;
  justify-self: center;
  align-self: center;
}
.resultBox__validRecipesCount--closeCross:hover {
  transform: scale(1.1);
  cursor: pointer;
  font-weight: 600;
  transition: 300ms;
}

.searchBar {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.searchBar__form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.searchBar__form--input {
  width: 100%;
  padding-left: 15px;
  padding-right: 40px;
  font-size: 15px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  background-color: #E7E7E7;
  border: 2px solid #E7E7E7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchBar__form--input:focus {
  outline: none !important;
  border-color: #ED6454;
}
.searchBar__form--icon {
  position: absolute;
  font-size: 20px;
  width: 45px;
  height: 100%;
  display: flex;
  padding-top: 15px;
  padding-left: 13px;
}

.badgeBox {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 500px) {
  .badgeBox {
    margin-bottom: 20px;
  }
}

.Badge {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .Badge {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .Badge {
    display: flex;
    justify-content: center;
    margin-bottom: 17.5px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .Badge {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
}
.Badge__tagIngredient {
  width: 130px;
  height: 35px;
  margin: 10px;
  margin-right: 15px;
  margin-left: 0px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  border: 1px solid #3282F7;
  background-color: #3282F7;
  border-radius: 5px;
}
@media screen and (max-width: 500px) {
  .Badge__tagIngredient {
    width: 105px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .Badge__tagIngredient {
    margin-bottom: 2.5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 32.5px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .Badge__tagIngredient {
    margin-bottom: 5px;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
}
.Badge__tagIngredient--name {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Badge__tagIngredient--closeCross:hover {
  cursor: pointer;
  color: #0751bc;
}

.Badge {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .Badge {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .Badge {
    display: flex;
    justify-content: center;
    margin-bottom: 17.5px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .Badge {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
}
.Badge__tagAppliance {
  width: 130px;
  height: 35px;
  margin: 10px;
  margin-right: 15px;
  margin-left: 0px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  border: 1px solid #68D9A4;
  background-color: #68D9A4;
  border-radius: 5px;
}
@media screen and (max-width: 500px) {
  .Badge__tagAppliance {
    width: 105px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .Badge__tagAppliance {
    margin-bottom: 2.5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 32.5px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .Badge__tagAppliance {
    margin-bottom: 5px;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
}
.Badge__tagAppliance--name {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Badge__tagAppliance--closeCross:hover {
  cursor: pointer;
  color: #2caf72;
}

.Badge {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .Badge {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .Badge {
    display: flex;
    justify-content: center;
    margin-bottom: 17.5px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .Badge {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
}
.Badge__tagUstensil {
  width: 130px;
  height: 35px;
  margin: 10px;
  margin-right: 15px;
  margin-left: 0px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  border: 1px solid #ED6454;
  background-color: #ED6454;
  border-radius: 5px;
}
@media screen and (max-width: 500px) {
  .Badge__tagUstensil {
    width: 105px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .Badge__tagUstensil {
    margin-bottom: 2.5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 32.5px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .Badge__tagUstensil {
    margin-bottom: 5px;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
}
.Badge__tagUstensil--name {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Badge__tagUstensil--closeCross:hover {
  cursor: pointer;
  color: #c62715;
}

.dropdownBox {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #FFFFFF;
  position: absolute;
}
@media screen and (max-width: 500px) {
  .dropdownBox {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    position: unset;
    margin-bottom: -20px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .dropdownBox {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    position: unset;
    margin-bottom: -20px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .dropdownBox {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    position: unset;
    margin-bottom: -20px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .dropdownBox {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    position: unset;
    margin-bottom: -20px;
  }
}
@media (min-width: 1101px) and (max-width: 1299px) {
  .dropdownBox {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    position: absolute;
  }
}

.ingredientDropdown {
  width: auto;
  height: auto;
}
.ingredientDropdown__openBtn {
  padding-left: 15px;
  padding-right: 15px;
  height: 55px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background-color: #3282F7;
}
@media screen and (max-width: 500px) {
  .ingredientDropdown__openBtn {
    margin-bottom: 20px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .ingredientDropdown__openBtn {
    margin-bottom: 20px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .ingredientDropdown__openBtn {
    margin-bottom: 20px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .ingredientDropdown__openBtn {
    margin-bottom: 20px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .ingredientDropdown__openBtn {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .ingredientDropdown__openBtn {
    margin-right: 30px;
  }
}
@media (min-width: 1101px) and (max-width: 1299px) {
  .ingredientDropdown__openBtn {
    margin-right: 20px;
  }
}
.ingredientDropdown__openBtn:hover {
  background: #085bd4;
  transition: linear 300ms;
  border: none;
}
.ingredientDropdown__hiddenElt {
  width: 450px;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
  background-color: #3282F7;
  max-height: 1505px;
  display: none;
}
@media screen and (max-width: 300px) {
  .ingredientDropdown__hiddenElt {
    width: 240px;
  }
}
@media screen and (max-width: 500px) {
  .ingredientDropdown__hiddenElt {
    padding-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    flex-direction: column;
  }
}
@media (min-width: 300px) and (max-width: 350px) {
  .ingredientDropdown__hiddenElt {
    width: 270px;
  }
}
@media (min-width: 350px) and (max-width: 400px) {
  .ingredientDropdown__hiddenElt {
    width: 300px;
  }
}
@media (min-width: 400px) and (max-width: 450px) {
  .ingredientDropdown__hiddenElt {
    width: 360px;
  }
}
@media (min-width: 450px) and (max-width: 500px) {
  .ingredientDropdown__hiddenElt {
    width: 410px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .ingredientDropdown__hiddenElt {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .ingredientDropdown__hiddenElt {
    width: 460px;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  .ingredientDropdown__hiddenElt {
    min-width: 550px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .ingredientDropdown__hiddenElt {
    min-width: 650px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .ingredientDropdown__hiddenElt {
    min-width: 710px;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  .ingredientDropdown__hiddenElt {
    min-width: 710px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) {
  .ingredientDropdown__hiddenElt {
    min-width: 860px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1101px) and (max-width: 1299px) {
  .ingredientDropdown__hiddenElt {
    width: 340px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 20px;
  }
}
@media (min-width: 1300px) and (max-width: 1350px) {
  .ingredientDropdown__hiddenElt {
    width: 400px;
  }
}
@media (min-width: 1350px) and (max-width: 1450px) {
  .ingredientDropdown__hiddenElt {
    width: 417px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .ingredientDropdown__hiddenElt {
    margin-right: 15px;
    margin-left: 15px;
  }
}
.ingredientDropdown__hiddenElt--header {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
}
.ingredientDropdown__hiddenElt--header > .specificSearch-input {
  width: 90%;
  height: 100%;
  font-size: 16px;
  border: none;
  padding-left: 25px;
  border-top-left-radius: 5px;
}
@media screen and (max-width: 500px) {
  .ingredientDropdown__hiddenElt--header > .specificSearch-input {
    font-size: 14px;
  }
}
.ingredientDropdown__hiddenElt--header > .specificSearch-input:focus {
  outline: none !important;
  color: #FFFFFF;
}
.ingredientDropdown__hiddenElt--header > .hiddenElt-closeChevron {
  width: 40px;
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.ingredientDropdown__hiddenElt--header > .specificSearch-input {
  background-color: #3282F7;
}
.ingredientDropdown__hiddenElt--footer {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  .ingredientDropdown__hiddenElt--footer {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;
    overflow-y: auto;
  }
}
@media screen and (max-width: 300px) {
  .ingredientDropdown__hiddenElt--footer {
    max-height: 150px;
    font-size: 13px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  .ingredientDropdown__hiddenElt--footer {
    max-height: 180px;
    font-size: 14px;
    min-width: 80%;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .ingredientDropdown__hiddenElt--footer {
    max-height: 190px;
    overflow-y: auto;
    padding-top: 10px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .ingredientDropdown__hiddenElt--footer {
    max-height: 200px;
    overflow-y: auto;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .ingredientDropdown__hiddenElt--footer {
    max-height: 180px;
    overflow-y: auto;
  }
}
.ingredientDropdown__hiddenElt--footer > .typeOfElement-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
  width: 143px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 33%;
    line-height: 20px;
  }
}
@media screen and (max-width: 300px) {
  .ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  .ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    line-height: 25px;
    width: 110px;
    font-size: 14px;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  .ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    line-height: 25px;
    width: 132px;
    padding-left: 20px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    line-height: 25px;
    width: 125px;
    padding-left: 20px;
    padding-right: 10px;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 115px;
    padding-left: 10px;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  .ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 138px;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) {
  .ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 140px;
  }
}
@media (min-width: 1101px) and (max-width: 1299px) {
  .ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 105px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }
}
@media (min-width: 1300px) and (max-width: 1350px) {
  .ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 126px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1350px) and (max-width: 1450px) {
  .ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 132px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div:hover {
  color: #3282F7;
  background-color: #FFFFFF;
}
.ingredientDropdown__hiddenElt--footer > .typeOfElement-list > .line-through {
  text-decoration: line-through;
  cursor: not-allowed;
}

.applianceDropdown {
  width: auto;
  height: auto;
}
.applianceDropdown__openBtn {
  padding-left: 15px;
  padding-right: 15px;
  height: 55px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background-color: #68D9A4;
  margin-left: 30px;
}
@media screen and (max-width: 500px) {
  .applianceDropdown__openBtn {
    margin-bottom: 20px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .applianceDropdown__openBtn {
    margin-bottom: 20px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .applianceDropdown__openBtn {
    margin-bottom: 20px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .applianceDropdown__openBtn {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .applianceDropdown__openBtn {
    margin-left: 0px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .applianceDropdown__openBtn {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .applianceDropdown__openBtn {
    margin-right: 30px;
    margin-left: 0px;
  }
}
@media (min-width: 1101px) and (max-width: 1299px) {
  .applianceDropdown__openBtn {
    margin-right: 20px;
    margin-left: 0px;
  }
}
.applianceDropdown__openBtn:hover {
  background: #31c37f;
  transition: linear 300ms;
  border: none;
}
.applianceDropdown__hiddenElt {
  width: 450px;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
  background-color: #68D9A4;
  max-height: 245px;
  margin-left: 30px;
  display: none;
}
@media screen and (max-width: 300px) {
  .applianceDropdown__hiddenElt {
    width: 240px;
  }
}
@media screen and (max-width: 500px) {
  .applianceDropdown__hiddenElt {
    padding-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    flex-direction: column;
  }
}
@media (min-width: 300px) and (max-width: 350px) {
  .applianceDropdown__hiddenElt {
    width: 270px;
  }
}
@media (min-width: 350px) and (max-width: 400px) {
  .applianceDropdown__hiddenElt {
    width: 300px;
  }
}
@media (min-width: 400px) and (max-width: 450px) {
  .applianceDropdown__hiddenElt {
    width: 360px;
  }
}
@media (min-width: 450px) and (max-width: 500px) {
  .applianceDropdown__hiddenElt {
    width: 410px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .applianceDropdown__hiddenElt {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .applianceDropdown__hiddenElt {
    width: 460px;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  .applianceDropdown__hiddenElt {
    min-width: 550px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .applianceDropdown__hiddenElt {
    min-width: 650px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .applianceDropdown__hiddenElt {
    min-width: 710px;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  .applianceDropdown__hiddenElt {
    min-width: 710px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) {
  .applianceDropdown__hiddenElt {
    min-width: 860px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1101px) and (max-width: 1299px) {
  .applianceDropdown__hiddenElt {
    width: 340px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 20px;
  }
}
@media (min-width: 1300px) and (max-width: 1350px) {
  .applianceDropdown__hiddenElt {
    width: 400px;
  }
}
@media (min-width: 1350px) and (max-width: 1450px) {
  .applianceDropdown__hiddenElt {
    width: 417px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .applianceDropdown__hiddenElt {
    margin-right: 15px;
    margin-left: 15px;
  }
}
.applianceDropdown__hiddenElt--header {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
}
.applianceDropdown__hiddenElt--header > .specificSearch-input {
  width: 90%;
  height: 100%;
  font-size: 16px;
  border: none;
  padding-left: 25px;
  border-top-left-radius: 5px;
}
@media screen and (max-width: 500px) {
  .applianceDropdown__hiddenElt--header > .specificSearch-input {
    font-size: 14px;
  }
}
.applianceDropdown__hiddenElt--header > .specificSearch-input:focus {
  outline: none !important;
  color: #FFFFFF;
}
.applianceDropdown__hiddenElt--header > .hiddenElt-closeChevron {
  width: 40px;
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.applianceDropdown__hiddenElt--header > .specificSearch-input {
  background-color: #68D9A4;
}
.applianceDropdown__hiddenElt--footer {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  .applianceDropdown__hiddenElt--footer {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;
    overflow-y: auto;
  }
}
@media screen and (max-width: 300px) {
  .applianceDropdown__hiddenElt--footer {
    max-height: 150px;
    font-size: 13px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  .applianceDropdown__hiddenElt--footer {
    max-height: 180px;
    font-size: 14px;
    min-width: 80%;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .applianceDropdown__hiddenElt--footer {
    max-height: 190px;
    overflow-y: auto;
    padding-top: 10px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .applianceDropdown__hiddenElt--footer {
    max-height: 200px;
    overflow-y: auto;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .applianceDropdown__hiddenElt--footer {
    max-height: 180px;
    overflow-y: auto;
  }
}
.applianceDropdown__hiddenElt--footer > .typeOfElement-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
  width: 143px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 33%;
    line-height: 20px;
  }
}
@media screen and (max-width: 300px) {
  .applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  .applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    line-height: 25px;
    width: 110px;
    font-size: 14px;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  .applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    line-height: 25px;
    width: 132px;
    padding-left: 20px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    line-height: 25px;
    width: 125px;
    padding-left: 20px;
    padding-right: 10px;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 115px;
    padding-left: 10px;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  .applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 138px;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) {
  .applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 140px;
  }
}
@media (min-width: 1101px) and (max-width: 1299px) {
  .applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 105px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }
}
@media (min-width: 1300px) and (max-width: 1350px) {
  .applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 126px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1350px) and (max-width: 1450px) {
  .applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 132px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.applianceDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div:hover {
  color: #68D9A4;
  background-color: #FFFFFF;
}
.applianceDropdown__hiddenElt--footer > .typeOfElement-list > .line-through {
  text-decoration: line-through;
  cursor: not-allowed;
}

.ustensilDropdown {
  width: auto;
  height: auto;
}
.ustensilDropdown__openBtn {
  padding-left: 15px;
  padding-right: 15px;
  height: 55px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background-color: #ED6454;
  margin-left: 30px;
}
@media screen and (max-width: 500px) {
  .ustensilDropdown__openBtn {
    margin-bottom: 20px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .ustensilDropdown__openBtn {
    margin-bottom: 20px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .ustensilDropdown__openBtn {
    margin-bottom: 20px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .ustensilDropdown__openBtn {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .ustensilDropdown__openBtn {
    margin-left: 0px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .ustensilDropdown__openBtn {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .ustensilDropdown__openBtn {
    margin-left: 0px;
  }
}
@media (min-width: 1101px) and (max-width: 1299px) {
  .ustensilDropdown__openBtn {
    margin-left: 0px;
  }
}
.ustensilDropdown__openBtn:hover {
  background: #dd2c17;
  transition: linear 300ms;
  border: none;
}
.ustensilDropdown__hiddenElt {
  width: 450px;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
  background-color: #ED6454;
  max-height: 415px;
  margin-left: 30px;
  display: none;
}
@media screen and (max-width: 300px) {
  .ustensilDropdown__hiddenElt {
    width: 240px;
  }
}
@media screen and (max-width: 500px) {
  .ustensilDropdown__hiddenElt {
    padding-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    flex-direction: column;
  }
}
@media (min-width: 300px) and (max-width: 350px) {
  .ustensilDropdown__hiddenElt {
    width: 270px;
  }
}
@media (min-width: 350px) and (max-width: 400px) {
  .ustensilDropdown__hiddenElt {
    width: 300px;
  }
}
@media (min-width: 400px) and (max-width: 450px) {
  .ustensilDropdown__hiddenElt {
    width: 360px;
  }
}
@media (min-width: 450px) and (max-width: 500px) {
  .ustensilDropdown__hiddenElt {
    width: 410px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .ustensilDropdown__hiddenElt {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .ustensilDropdown__hiddenElt {
    width: 460px;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  .ustensilDropdown__hiddenElt {
    min-width: 550px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .ustensilDropdown__hiddenElt {
    min-width: 650px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .ustensilDropdown__hiddenElt {
    min-width: 710px;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  .ustensilDropdown__hiddenElt {
    min-width: 710px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) {
  .ustensilDropdown__hiddenElt {
    min-width: 860px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1101px) and (max-width: 1299px) {
  .ustensilDropdown__hiddenElt {
    width: 340px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 20px;
  }
}
@media (min-width: 1300px) and (max-width: 1350px) {
  .ustensilDropdown__hiddenElt {
    width: 400px;
  }
}
@media (min-width: 1350px) and (max-width: 1450px) {
  .ustensilDropdown__hiddenElt {
    width: 417px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .ustensilDropdown__hiddenElt {
    margin-left: 0px;
  }
}
.ustensilDropdown__hiddenElt--header {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
}
.ustensilDropdown__hiddenElt--header > .specificSearch-input {
  width: 90%;
  height: 100%;
  font-size: 16px;
  border: none;
  padding-left: 25px;
  border-top-left-radius: 5px;
}
@media screen and (max-width: 500px) {
  .ustensilDropdown__hiddenElt--header > .specificSearch-input {
    font-size: 14px;
  }
}
.ustensilDropdown__hiddenElt--header > .specificSearch-input:focus {
  outline: none !important;
  color: #FFFFFF;
}
.ustensilDropdown__hiddenElt--header > .hiddenElt-closeChevron {
  width: 40px;
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.ustensilDropdown__hiddenElt--header > .specificSearch-input {
  background-color: #ED6454;
}
.ustensilDropdown__hiddenElt--footer {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  .ustensilDropdown__hiddenElt--footer {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;
    overflow-y: auto;
  }
}
@media screen and (max-width: 300px) {
  .ustensilDropdown__hiddenElt--footer {
    max-height: 150px;
    font-size: 13px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  .ustensilDropdown__hiddenElt--footer {
    max-height: 180px;
    font-size: 14px;
    min-width: 80%;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .ustensilDropdown__hiddenElt--footer {
    max-height: 190px;
    overflow-y: auto;
    padding-top: 10px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .ustensilDropdown__hiddenElt--footer {
    max-height: 200px;
    overflow-y: auto;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .ustensilDropdown__hiddenElt--footer {
    max-height: 180px;
    overflow-y: auto;
  }
}
.ustensilDropdown__hiddenElt--footer > .typeOfElement-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
  width: 143px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 33%;
    line-height: 20px;
  }
}
@media screen and (max-width: 300px) {
  .ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  .ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  .ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    line-height: 25px;
    width: 110px;
    font-size: 14px;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  .ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    line-height: 25px;
    width: 132px;
    padding-left: 20px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    line-height: 25px;
    width: 125px;
    padding-left: 20px;
    padding-right: 10px;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 115px;
    padding-left: 10px;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  .ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 138px;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) {
  .ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 140px;
  }
}
@media (min-width: 1101px) and (max-width: 1299px) {
  .ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 105px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }
}
@media (min-width: 1300px) and (max-width: 1350px) {
  .ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 126px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1350px) and (max-width: 1450px) {
  .ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div {
    width: 132px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .recipesOneElement-Div:hover {
  color: #ED6454;
  background-color: #FFFFFF;
}
.ustensilDropdown__hiddenElt--footer > .typeOfElement-list > .line-through {
  text-decoration: line-through;
  cursor: not-allowed;
}

.thumbCard-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 65px;
}
@media screen and (max-width: 500px) {
  .thumbCard-section {
    margin-top: 0px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .thumbCard-section {
    margin-top: 0px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .thumbCard-section {
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 0px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .thumbCard-section {
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 0px;
  }
}
@media (min-width: 1101px) and (max-width: 1299px) {
  .thumbCard-section {
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 70px;
  }
}
@media (min-width: 1300px) and (max-width: 1350px) {
  .thumbCard-section {
    justify-content: space-between;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (min-width: 1350px) and (max-width: 1450px) {
  .thumbCard-section {
    justify-content: space-between;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.thumbCard {
  max-width: 443px;
  height: 400px;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .thumbCard {
    height: 320px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 300px) {
  .thumbCard {
    max-width: 300px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  .thumbCard {
    max-width: 500px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .thumbCard {
    max-width: 680px;
    margin-bottom: 30px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .thumbCard {
    max-width: 47.5%;
    margin-bottom: 35px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .thumbCard {
    max-width: 48%;
    margin-bottom: 35px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 1101px) and (max-width: 1299px) {
  .thumbCard {
    max-width: 48%;
    margin-bottom: 35px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 1300px) and (max-width: 1350px) {
  .thumbCard {
    max-width: 30%;
  }
}
@media (min-width: 1350px) and (max-width: 1450px) {
  .thumbCard {
    max-width: 30%;
  }
}
.thumbCard__img {
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0px 0px;
  background-color: #C7BEBE;
}
.thumbCard__description {
  width: 100%;
  height: 50%;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  background-color: #E7E7E7;
}
.thumbCard__description--header {
  width: 95%;
  height: 20%;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}
@media screen and (max-width: 500px) {
  .thumbCard__description--header {
    font-size: 13px;
  }
}
.thumbCard__description--header > .thumbCard__title {
  width: 75%;
  height: 100%;
}
.thumbCard__description--header > .thumbCard__time {
  height: 100%;
}
.thumbCard__description--footer {
  height: 80%;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.thumbCard__description--footer > .thumbCard__listOfCondiments {
  width: 50%;
  height: 100%;
  font-size: 12px;
  margin-left: 10px;
}
.thumbCard__description--footer > .thumbCard__listOfCondiments > ul {
  list-style-type: none;
}
@media screen and (max-width: 500px) {
  .thumbCard__description--footer > .thumbCard__listOfCondiments {
    -webkit-line-clamp: 7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@media (min-width: 700px) and (max-width: 800px) {
  .thumbCard__description--footer > .thumbCard__listOfCondiments {
    -webkit-line-clamp: 9;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.thumbCard__description--footer > .thumbCard__howToUse {
  width: 50%;
  height: 100%;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-line-clamp: 9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .thumbCard__description--footer > .thumbCard__howToUse {
    -webkit-line-clamp: 7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
