@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  padding: 0;
  max-width: 1320px;
  height: 100vh;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: auto;
  margin-top: 42px;
}
.header__logo {
  height: 93px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.SearchBadgeDropdown {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.resultBox {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: none;
}
.resultBox__validRecipesCount {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.resultBox__validRecipesCount--message {
  padding-left: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resultBox__validRecipesCount--closeCross {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 2.5px;
  padding-top: 5px;
  width: 20px;
  height: 25px;
}
.resultBox__validRecipesCount--closeCross:hover {
  transform: scale(1.1);
  cursor: pointer;
  font-weight: 600;
  transition: 300ms;
}

.searchBar {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.searchBar__form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.searchBar__form--input {
  width: 100%;
  padding-left: 15px;
  padding-right: 40px;
  font-size: 15px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  background-color: #E7E7E7;
  border: 2px solid #E7E7E7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchBar__form--input:focus {
  outline: none !important;
  border-color: #ED6454;
}
.searchBar__form--icon {
  position: absolute;
  font-size: 20px;
  width: 45px;
  height: 100%;
  display: flex;
  padding-top: 15px;
  padding-left: 13px;
}

.badgeBox {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.Badge {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.Badge__tagIngredient {
  width: 130px;
  height: 35px;
  margin: 10px;
  margin-right: 15px;
  margin-left: 0px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  border: 1px solid #3282F7;
  background-color: #3282F7;
  border-radius: 5px;
}
.Badge__tagIngredient--name {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Badge__tagIngredient--closeCross:hover {
  cursor: pointer;
  color: #0751bc;
}

.Badge {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.Badge__tagAppliance {
  width: 130px;
  height: 35px;
  margin: 10px;
  margin-right: 15px;
  margin-left: 0px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  border: 1px solid #68D9A4;
  background-color: #68D9A4;
  border-radius: 5px;
}
.Badge__tagAppliance--name {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Badge__tagAppliance--closeCross:hover {
  cursor: pointer;
  color: #2caf72;
}

.Badge {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.Badge__tagUstensil {
  width: 130px;
  height: 35px;
  margin: 10px;
  margin-right: 15px;
  margin-left: 0px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  border: 1px solid #ED6454;
  background-color: #ED6454;
  border-radius: 5px;
}
.Badge__tagUstensil--name {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Badge__tagUstensil--closeCross:hover {
  cursor: pointer;
  color: #c62715;
}

.dropdownBox {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #FFFFFF;
  position: relative;
}

.ingredientDropdown {
  width: auto;
  height: auto;
}
.ingredientDropdown__openBtn {
  padding-left: 15px;
  padding-right: 15px;
  height: 55px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background-color: #3282F7;
}
.ingredientDropdown__openBtn:hover {
  background: #085bd4;
  transition: linear 300ms;
  border: none;
}
.ingredientDropdown__hidden {
  height: 55px;
  width: 410px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
  background-color: #3282F7;
  margin-top: -55px;
  display: none;
}
.ingredientDropdown__hidden--input {
  width: 365px;
  height: 100%;
  font-size: 16px;
  border: none;
  padding-left: 25px;
  border-top-left-radius: 5px;
  background-color: #3282F7;
}
.ingredientDropdown__hidden--input:focus {
  outline: none !important;
  color: #FFFFFF;
}
.ingredientDropdown__hidden--closeChevron {
  width: 40px;
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.ingredientDropdown__list {
  display: none;
  position: absolute;
}
.ingredientDropdown__list--allIngredients {
  max-height: 1450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 410px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: -2px;
  font-size: 16px;
  font-weight: 500;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  background-color: #3282F7;
}
.ingredientDropdown__list--allIngredients > .recipesOneElement-Div {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
}
.ingredientDropdown__list--allIngredients > .recipesOneElement-Div:hover {
  color: #3282F7;
  background-color: #FFFFFF;
}
.ingredientDropdown__list--allIngredients > .line-through {
  text-decoration: line-through;
  cursor: not-allowed;
}

.applianceDropdown {
  width: auto;
  height: auto;
}
.applianceDropdown__openBtn {
  padding-left: 15px;
  padding-right: 15px;
  height: 55px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background-color: #68D9A4;
  margin-left: 30px;
}
.applianceDropdown__openBtn:hover {
  background: #31c37f;
  transition: linear 300ms;
  border: none;
}
.applianceDropdown__hidden {
  height: 55px;
  width: 410px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
  margin-left: 25px;
  margin-top: -55px;
  background-color: #68D9A4;
  display: none;
}
.applianceDropdown__hidden--input {
  width: 365px;
  height: 100%;
  font-size: 16px;
  border: none;
  padding-left: 25px;
  border-top-left-radius: 5px;
  background-color: #68D9A4;
}
.applianceDropdown__hidden--input:focus {
  outline: none !important;
  color: #FFFFFF;
}
.applianceDropdown__hidden--closeChevron {
  width: 40px;
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.applianceDropdown__list {
  position: absolute;
  display: none;
  margin-left: 25px;
}
.applianceDropdown__list--allAppliances {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 410px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: -2px;
  font-size: 16px;
  font-weight: 500;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  max-height: 190px;
  background-color: #68D9A4;
}
.applianceDropdown__list--allAppliances > .recipesOneElement-Div {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
}
.applianceDropdown__list--allAppliances > .recipesOneElement-Div:hover {
  color: #68D9A4;
  background-color: #FFFFFF;
}
.applianceDropdown__list--allAppliances > .line-through {
  text-decoration: line-through;
  cursor: not-allowed;
}

.ustensilDropdown {
  width: auto;
  height: auto;
}
.ustensilDropdown__openBtn {
  padding-left: 15px;
  padding-right: 15px;
  height: 55px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background-color: #ED6454;
  margin-left: 30px;
}
.ustensilDropdown__openBtn:hover {
  background: #dd2c17;
  transition: linear 300ms;
  border: none;
}
.ustensilDropdown__hidden {
  height: 55px;
  width: 410px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #FFFFFF;
  border: none;
  margin-left: 25px;
  margin-top: -55px;
  background-color: #ED6454;
  display: none;
}
.ustensilDropdown__hidden--input {
  width: 365px;
  height: 100%;
  font-size: 16px;
  border: none;
  padding-left: 25px;
  border-top-left-radius: 5px;
  background-color: #ED6454;
}
.ustensilDropdown__hidden--input:focus {
  outline: none !important;
  color: #FFFFFF;
}
.ustensilDropdown__hidden--closeChevron {
  width: 40px;
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.ustensilDropdown__list {
  position: absolute;
  display: none;
  margin-left: 25px;
}
.ustensilDropdown__list--allUstensils {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 410px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: -2px;
  font-size: 16px;
  font-weight: 500;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  max-height: 360px;
  background-color: #ED6454;
}
.ustensilDropdown__list--allUstensils > .recipesOneElement-Div {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
}
.ustensilDropdown__list--allUstensils > .recipesOneElement-Div:hover {
  color: #ED6454;
  background-color: #FFFFFF;
}
.ustensilDropdown__list--allUstensils > .line-through {
  text-decoration: line-through;
  cursor: not-allowed;
}

.thumbCard-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.thumbCard {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.thumbCard__img {
  width: 100%;
  height: 50%;
  border-radius: 5px 5px 0px 0px;
  background-color: #C7BEBE;
}
.thumbCard__description {
  width: 100%;
  height: 50%;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  background-color: #E7E7E7;
}
.thumbCard__description--header {
  width: 95%;
  height: 20%;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}
.thumbCard__description--header > .thumbCard__title {
  width: 75%;
  height: 100%;
}
.thumbCard__description--header > .thumbCard__time {
  height: 100%;
}
.thumbCard__description--footer {
  height: 80%;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.thumbCard__description--footer > .thumbCard__listOfCondiments {
  width: 50%;
  height: 100%;
  font-size: 12px;
  margin-left: 10px;
}
.thumbCard__description--footer > .thumbCard__listOfCondiments > ul {
  list-style-type: none;
}
.thumbCard__description--footer > .thumbCard__howToUse {
  width: 50%;
  height: 100%;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: auto;
}

/*# sourceMappingURL=style.css.map */
