//Responsive
$breakpoints: (
    media-550px: 550px,
    media-800px: 800px,
    media-1000px: 1100px,
    media-1450px: 1450px 
);

@mixin media-inf-550px {
    @media screen and (max-width: map-get($map: $breakpoints, $key: media-550px)){
        @content;
    }
}

@mixin media-1450px-sup {
    @media screen and (min-width: map-get($map: $breakpoints, $key: media-1450px)) {
        @content;
    }
}