@mixin badge-parameter {
    width: auto;
    height: 35px;
    margin-right: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $cd-color-accent;
}


@mixin dropdown-CommonParameters {
    width: auto;
    height: 55px;
    display: flex;
    align-items: center;
}

@mixin dropdownBtn-CommonParameters {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    width: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: $cd-color-accent;
    border: none;
    cursor: pointer;
}