//Déclaration de variables couleurs
$cd-color-primary: #E7E7E7;
$cd-color-secondary: #C7BEBE;
$cd-color-ingredients: #3282F7;
$cd-color-device: #68D9A4;
$cd-color-utensils: #ED6454;
$cd-color-accent: #FFFFFF;
$cd-color-default: #000000;