.header {
    width: 100%;
    height: auto;
    margin-top: 42px;

    //Media: 0 <==> 500px
    @include media-inf-500px {
        margin-top: 25px;
    }

    //Media: 500px <==> 700px
    @include media-500px-700px {
        margin-top: 30px;
    }
    
    &__logo {
        height: 93px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        //Media: 0 <==> 500px
        @include media-inf-500px {
            height: 70px;
        }

        //Media: 500px <==> 700px
        @include media-500px-700px {
            height: 85px;
        }
    }
}

