.header {
    width: 100%;
    height: auto;
    margin-top: 42px;
    
    &__logo {
        height: 93px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        @include media-inf-400px {
            height: 70px;
        }
    }

    @include media-inf-400px {
        margin-top: 20px;
    }
}

