.header {
    width: 100%;
    height: auto;
    margin-top: 42px;
    
    &__logo {
        height: 93px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}

