
.SearchBadgeDropdown {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

//+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
//Valid recipes count
.resultBox {
    width: 100%;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: none;

    &__validRecipesCount {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        &--message {
            padding-left: 15px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        &--closeCross {
            margin-right: 10px;
            margin-left: 10px;
            padding-left: 2.5px;
            padding-top: 5px;
            width: 20px;
            height: 25px;
    
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
                font-weight: 600; 
                transition: 300ms;
            }
        }
    }
}

//+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
//Search Bar
.searchBar {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;

    &__form {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        &--input {
            width: 100%;
            padding-left: 15px;
            padding-right: 40px;
            font-size: 15px;
            border-radius: 5px;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            background-color: $cd-color-primary;
            border: 2px solid $cd-color-primary;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:focus {
                outline: none !important;
                border-color: $cd-color-ustensil;
            }
        }

        &--icon {
            position: absolute;
            font-size: 20px;
            width: 45px;
            height: 100%;
            display: flex;
            padding-top: 15px;
            padding-left: 13px;
        }
    }
}

//+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
//Badges
.badgeBox {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.Badge {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &__tagIngredient {
        @include badge-parameter;
        border: 1px solid $cd-color-ingredient;
        background-color: $cd-color-ingredient;
        border-radius: 5px;

        &--name {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &--closeCross:hover {
            cursor: pointer;
            color: darken($color: $cd-color-ingredient, $amount: 20);
        }
    }
}

.Badge {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &__tagAppliance {
        @include badge-parameter;
        border: 1px solid $cd-color-appliance;
        background-color: $cd-color-appliance;
        border-radius: 5px;

        &--name {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &--closeCross:hover {
            cursor: pointer;
            color: darken($color: $cd-color-appliance, $amount: 20);
        }
    }
}

.Badge {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &__tagUstensil {
        @include badge-parameter;
        border: 1px solid $cd-color-ustensil;
        background-color: $cd-color-ustensil;
        border-radius: 5px;

        &--name {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &--closeCross:hover {
            cursor: pointer;
            color: darken($color: $cd-color-ustensil, $amount: 20);
        }
    }
}

//+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
//Dropdown - filters
.dropdownBox {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: $cd-color-accent;
    position: relative;
}

.ingredientDropdown {
    @include dropdown-CommonParameters;
    
    &__openBtn {
        @include dropdownBtn-CommonParameters;
        background-color: $cd-color-ingredient;

        &:hover {
            background: darken($color: $cd-color-ingredient, $amount: 15);
            transition: linear 300ms;
            border: none;
        }
    }

    &__hidden {
        @include dropdownHidden-CommonParameters;
        background-color: $cd-color-ingredient;
        margin-top: -55px;
        
        &--input {
            @include recipesElementsList-Input;
            background-color: $cd-color-ingredient;
        }

        &--closeChevron {
            @include recipesElementsList-closeChevron;
        }
        display: none;
    }

    &__list {
        display: none;
        position: absolute;
        
        &--allIngredients {
            max-height: 1450px;
            @include recipesElementsListCommonParameter;
            background-color: $cd-color-ingredient;

            & > .recipesOneElement-Div {
                @include recipesElementsList-Div;
            }

            & > .recipesOneElement-Div:hover {
                color: $cd-color-ingredient;
                background-color: $cd-color-accent;
            }

            & > .line-through {
                text-decoration: line-through;
                cursor: not-allowed;
            }
        }
    }
}
    

.applianceDropdown {
    @include dropdown-CommonParameters;

    &__openBtn {
        @include dropdownBtn-CommonParameters;
        background-color: $cd-color-appliance;
        margin-left: 30px;

        &:hover {
            background: darken($color: $cd-color-appliance, $amount: 15);
            transition: linear 300ms;
            border: none;
        }
    }

    &__hidden {
        @include dropdownHidden-CommonParameters;
        margin-left: 25px;
        margin-top: -55px;
        background-color: $cd-color-appliance;
        
        &--input {
            @include recipesElementsList-Input;
            background-color: $cd-color-appliance;
        }

        &--closeChevron {
            @include recipesElementsList-closeChevron;
        }
        display: none;
    }

    &__list {
        position: absolute;
        display: none;
        margin-left: 25px;

        &--allAppliances {
            @include recipesElementsListCommonParameter;
            max-height: 190px;
            background-color: $cd-color-appliance;

            & > .recipesOneElement-Div {
                @include recipesElementsList-Div;
            }

            & > .recipesOneElement-Div:hover {
                color: $cd-color-appliance;
                background-color: $cd-color-accent;
            }

            & > .line-through {
                text-decoration: line-through;
                cursor: not-allowed;
            }
        }
    }
}

.ustensilDropdown {
    @include dropdown-CommonParameters;

    &__openBtn {
        @include dropdownBtn-CommonParameters;
        background-color: $cd-color-ustensil;
        margin-left: 30px; 

        &:hover {
            background: darken($color: $cd-color-ustensil, $amount: 15);
            transition: linear 300ms;
            border: none;
        }
    }

    &__hidden {
        @include dropdownHidden-CommonParameters;
        margin-left: 25px;
        margin-top: -55px;
        background-color: $cd-color-ustensil;
        
        &--input {
            @include recipesElementsList-Input;
            background-color: $cd-color-ustensil;
        }

        &--closeChevron {
            @include recipesElementsList-closeChevron;
        }
        display: none;
    }

    &__list {
        position: absolute;
        display: none;
        margin-left: 25px;

        &--allUstensils {
            @include recipesElementsListCommonParameter;
            max-height: 360px;
            background-color: $cd-color-ustensil;

            & > .recipesOneElement-Div {
                @include recipesElementsList-Div;
            }

            & > .recipesOneElement-Div:hover {
                color: $cd-color-ustensil;
                background-color: $cd-color-accent;
            }

            & > .line-through {
                text-decoration: line-through;
                cursor: not-allowed;
            }
        }
    }
}
